body {
	background: linear-gradient(deepskyblue, cornflowerblue) no-repeat fixed;
}

p {
	white-space: pre-wrap;
}

#tabContent>li {
	text-align: center;
	width: 50%;
}

#loginA {
	border-radius: 0.25rem 0 0 0.25rem;
}

#registerA {
	border-radius: 0 0.25rem 0.25rem 0;
}

#tabContent>li>.active {
	background: deepskyblue;
}

#tabContent>li>a {
	background: #007bff;
	border-color: #007bff;
	color: white;
	display: inline-block;
	height: 30px;
	width: 100%;
}

#tabContent {
	height: 30px;
	padding: 0 4px;
}

#loginForm {
	padding: 0 4px;
}

#registForm {
	padding: 0 4px;
}

#navmenu {
	margin: 8px 8px;
}

.header-image {
	float: right;
	height: 80px;
}

#usernameExists {
	color: red;
	display: none;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 4px 0;
}

#usernameEmpty {
	color: red;
	display: none;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
	margin: 0 0 4px 0;
}

.loginFailed {
	color: red;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
}

.btn-file {
	border-bottom-right-radius: 0 !important;
	border-top-right-radius: 0 !important;
	overflow: hidden;
	position: relative;
}

.btn-file input[type=file] {
	background: white;
	cursor: inherit;
	display: block;
	filter: alpha(opacity=0);
	font-size: 100px;
	min-height: 100%;
	min-width: 100%;
	opacity: 0;
	outline: none;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
}

.fileUploadPreview {
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
	height: 38px;
}

.posttext {
	white-space: pre-wrap;
}